<md-dialog >
    <md-content layout-padding>
        <md-subheader style="    background: grey;
    margin: 0px;
    width: 100%;
    color: white;">Add Pos</md-subheader>
        <form >
            <br>
            <md-input-container>
                <label>Pos Name</label>
                <input type="text" name="title" >
            </md-input-container>
            <md-input-container>
                <label>Address</label>
                <textarea></textarea>
            </md-input-container>
            <div layout="row" layout-padding>
                <div flex>
                    <md-button class="md-raised search " >Cancel</md-button>
                </div>
                <div flex>
                    <md-button class="md-raised md-primary search" type="submit">Add </md-button>
                </div>
            </div>

        </form>
    </md-content>
</md-dialog>
