<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex>
        </span>
        Register

        <span flex>
        </span>

    </div>
</md-toolbar>

<md-content layout-padding style="background:#F5F5F5; height:90%">

    <div class="login-content" layout="row">
        <div flex-md="20" flex-lg="20" flex-gt-lg="30">

        </div>
        <div flex>
            <center><img src="./components/login/img/logo-chicken.png" width="70%"></center>
            <br>
            <md-card style="background: white; width: 80%; margin: auto;border-radius: 20px;">
                <div class="card-head"><p>Register</p></div>
                <md-card-content>
                    <md-input-container>
                        <label>Email Address</label>
                        <input>
                    </md-input-container>
                    <md-input-container>
                        <label>Username</label>
                        <input>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input>
                    </md-input-container>
                    <br>
                    <md-button class="md-primary md-raised" style=" width: 95%">Register</md-button>
                </md-card-content>
        </div>
        <div flex-md="20" flex-lg="20" flex-gt-lg="30">


            </md-card>
        </div>
    </div>

</md-content>